
<ul class="flex flex-wrap md:flex-col bg-white rounded-md">
    <% cache do %>
        <% @feed_materials.each do |fm| %>
            <li class="flex md:w-full p-2"> 
                <%= link_to fm.title, fm, data:{ turbo_frame: "material_feed" }, class:"no-underline font-semibold text-black" %>
            </li>
        <% end %>   
    <% end %>   
</ul>


